.aboutUs{
    background: var(--lightGray);
    padding-top: 5em;
    padding-bottom: 5em;
    &__title{
        margin-top: 2em;
        text-align: center;
        color: var(--darkBlue);
        width: 100%;
    }
    &__image{
        height: 300px;
        margin: 0 calc(-1 * var(--wrapperSpace));
        background: url('../images/about_1.jpg') center no-repeat;
        background-size: 320px;
        margin-bottom: 1.2em;
    }
    &__subTitle{
        color: var(--darkBlue);
        font-weight: 340;
    }
    &__copy{
        line-height: 1.7;
        text-align: left;
        font-size: 0.6em;
    }
    &__button {
        align-items: center;
        border: 1px ;
        padding: .4em 2em;
        font-size: 1.1em;
        border-radius: 2em;
        color: #ffffff;
        background-color: #00d2b5;
        margin-top: 2.8em;
        box-shadow: 1px 2px 5px 1px #ccf5ee;
    }
    @media screen and (min-width: 768px){
        padding-top: 5px;
        text-align: left;
        background: url('../images/about_1.jpg') left  -130px top 40px  var(--lightGray) no-repeat;
        background-size: 550px;
        &__content{
            // border: 1px solid red;
            display: grid;
            margin-left: 14em;
            align-items: center ;
            grid-template-areas: 
                    "image description" 
                    "image     contentDescription";
            grid-template-columns: 2fr 2fr;
            min-height: 400px;
            max-width: 968px;
        }
        &__contentDescription{
            width: 150px;
        }
        &__description{
            // border: 1px solid blue;
            width: 300px;
            margin-top: 90px;
            text-align: center;
            text-align: center;
            color: var(--darkBlue);
        }
        &__image{
            // border: 1px solid green;
            grid-area: image;
            min-height: inherit;
            // margin-top: 100px;
            // padding-top: 70px;
            // margin-left: ;
            margin-left: 90px;
            background: none;
            // background: url('../images/landing_1.png') no-repeat;
            // width: 100px;
            padding-left: 10px;
            width: 300px;
        }
        &__item{
            border: .1em solid var(--lightGray); 
            // background: var(--lightGray);
            border-radius: .2em;
            padding: 1em 1em 1em 1em;
            box-shadow: 6px 6px 10px 1px var(--lightGray);
            width: 300px;
        }
        &__paragraph{
            color: var(--darkBlue);
            font-weight: 320;
        }
    }
    @media screen and (min-width: 1024px){
        padding-top: 5px;
        text-align: left;
        background: url('../images/about_1.jpg') left  20px top 80px  var(--lightGray) no-repeat;
        background-size: 550px;
    }

    @media screen and (min-width: 1275px){
        padding-top: 5px;
        text-align: left;
        background: url('../images/about_1.jpg') left  110px top 120px  var(--lightGray) no-repeat;
        background-size: 550px;
    }
}