@import "./header.scss";
@import "./hero.scss";
@import "./menu.scss";
@import "./features.scss";
@import "./prototypes.scss";
@import "./aboutUs.scss";
@import "./testimonials.scss";
@import "./touch.scss";

:root {
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 52%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayBlue: hsl(233, 8%, 62%);
    --lightGray: #f6f6f6;
    --wrapperSpace: 1.5em;
    font-size: 16px;
}

body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    color: var(--grayBlue);
}

.copy {
    line-height: 1.7;
    text-align: left;
    font-size: 0.9em;
    // border: 1px solid red;
}

.is-hidden {
    display: none !important;
}


.wrapper {
    // border: 1px solid blue;
    padding: 0 var(--wrapperSpace);
    align-items: left ;
}

@mixin title {
    text-align: left;
    // border: 1px solid blue;
    font-size: 2em;
    color: var(--darkBlue);
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    margin-bottom: .5em;  
}
.title {
    // border: 1px solid red;
    &__h1 {
        @include title;
    }
    &__h2 {
        @include title;
        // border: 1px solid red;
        font-size: 1em;
        font-weight: 520;
    }
    &__h3 {
        @include title;
        // border: 1px solid red;
        font-size: .8em;
        font-weight: 300;
    }
}

.button {
    border: 1px ;
    padding: .9em 2.2em;
    font-size: 1.1em;
    border-radius: 2em;
    color: #ffffff;
    background-color: #00d2b5;
    margin-top: 2.8em;
    box-shadow: 1px 2px 5px 1px #00d2b5;
}

