.features{
    // text-align: center;
    background: var(--lightGray);
    padding-top: 5em;
    padding-bottom: 5em;
    &__grid{
        display: grid;
        grid-row-gap: 2em;
    }
    &__title{
        text-align: center;
        color: var(--darkBlue);
    }
    &__item{
    //    border: .1em solid green; 
       height: 15em;
       background: white;
       border-radius: .3em;
       padding: 1em 1em 1em 1em;
    }
    &__a{
        align-self: start;
        color: #00d2b5;
        font-size: 14px;
    }
    @media screen and (min-width: 768px){
        // border: 1px solid red;
        .features__grid{
            display: grid;
            grid-column-gap: 1em;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (min-width: 1024px){
        .features__grid{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
.iconCircle{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50em;
    background-color: #00d2b5;
    margin-bottom: 1.2em;
    margin-top: 1em;
    align-items: center;
    box-shadow: 1px 3px 5px 1px #ccf5ee;
}
.copy {
    margin-bottom: 2em;
}