.hero {
    // border: 2px solid red;
    text-align: left;
    padding-bottom: 5em;
    padding-top: 5em;
    .copy {
        margin-bottom: 1em;
    }
    &__image {
        // border: 1px solid red;
        height: 300px;
        margin: 0 calc(-1 * var(--wrapperSpace));
        background: url('../images/landing_1.png') center no-repeat;
        background-size: 320px;
        margin-bottom: 1.2em;
    }
    @media screen and (min-width: 768px){
        text-align: left;
        background: url('../images/landing_1.png') right  -75px top 40px no-repeat;
        background-size: 550px;
        &__content{
            // border: 1px solid red;
            display: grid;
            align-items: center ;
            grid-template-areas: "description image" ;
            grid-template-columns: 1fr 1fr;
            min-height: 400px;
            max-width: 968px;
        }
        &__description{
            // border: 1px solid blue;
            width: 300px;
        }
        &__image{
            // border: 1px solid green;
            grid-area: image;
            min-height: inherit;
            margin-top: 100px;
            // padding-top: 70px;
            margin-left: 70px;
            background: none;
            // background: url('../images/landing_1.png') no-repeat;
            // width: 100px;
            // padding-left: 900px;
            // width: 600px;
        }
    }
    @media screen and (min-width: 1024px){
        text-align: left;
        background: url('../images/landing_1.png') right  -115px top 140px no-repeat;
        background-size: 750px;
    }
    @media screen and (min-width: 1250px){
        text-align: left;
        background: url('../images/landing_1.png') right  -110px top 150px no-repeat;
        background-size: 750px;
    }
}