.menu {
    // border: 1px solid red;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    &__button {
      // border: 1px solid green;
      width: 40px;
      height: 40px;
      background: url('../../static/images/icon-Hamburger.png') no-repeat center;
    }
    a {
      text-decoration: none;
      color: var(--grayBlue);
      padding: 0 .8em;
    }
    &__item {
      display: flex;
      align-items: center;
    }
    &__checkbox {
      display: none;
      &:checked {

        & ~ .menu {
          display: block;
          position: absolute;
          top: 100%;
          padding: .5em;
          left: 0;
          right: 0;
          height: 100vh;
          background: linear-gradient(to bottom, var(--darkBlue) 0%, transparent 90%);
          .menu__item {
            &:first-of-type a {
              padding-top: 2em;
              border-radius: .5em .5em 0 0;
            }
            &:last-of-type a {
              padding-bottom: 2em;
              border-radius: 0 0 .5em .5em;
            }
          }
          a {
            background: white;
            padding: .5em 1em;
            color: var(--darkBlue);
            font-size: 1.1em;
            display: block;
            text-align: center;
            flex: 1;
          }
        }
      }
    }
    @media screen and (min-width: 1024px){
      display: flex;
      &__button {
        display: none;
      }
    }
  }