.prototypes{
    padding-top: 5em;
    margin-bottom: 5em;
    &__grid{
    //    border: .1em solid green; 
        display: grid;
        grid-row-gap: .5em;
    }
    &__title{
        text-align: center;
        color: var(--darkBlue);
    }
    &__image{
        height: 300px;
        margin: 0 calc(-1 * var(--wrapperSpace));
        background: url('../images/do_ui_kit_download_cta_floating_devices-2x.png') center no-repeat;
        background-size: 320px;
        margin-bottom: 1.2em;
    }
    &__item{
        border: .1em solid var(--lightGray); 
        background: white;
        border-radius: .2em;
        padding: 1em 1em 1em 1em;
        box-shadow: 6px 6px 10px 1px var(--lightGray);
    }
    &__copy{
        color: var(--darkBlue);
        font-weight: 320;
        font-size: .7em;
    }
    &__name{
        text-align: left;
        // border: 1px solid blue;
        font-size: .7em;
        color: var(--darkBlue);
        font-weight: 600;
        line-height: 1.3;
        margin: 0;
        margin-bottom: .5em;
    }
    &__message{
        font-style: oblique;
        font-weight: 100;
        font-size: 1em;
    }
    &__wrapper{
        padding: 0 var(--wrapperSpace);
        align-items: left ;
    }
    @media screen and (max-width: 468px){
        &__wrapper{
            padding: 0 3em;
            align-items: left ; 
        }
    }
    @media screen and (min-width: 768px){
        padding-top: 5px;
        text-align: left;
        background: url('../images/do_ui_kit_download_cta_floating_devices-2x.png') left  -40px top 120px no-repeat;
        background-size: 550px;
        &__content{
            // border: 1px solid red;
            display: grid;
            align-items: center ;
            grid-template-areas: 
                    "image description" 
                    "image     contentDescription";
            grid-template-columns: 1fr 1fr;
            min-height: 400px;
            max-width: 968px;
        }
        &__description{
            // border: 1px solid blue;
            width: 300px;
            margin-top: 90px;
        }
        &__image{
            // border: 1px solid green;
            grid-area: image;
            min-height: inherit;
            // margin-top: 100px;
            // padding-top: 70px;
            // margin-left: ;
            margin-left: 120px;
            background: none;
            // background: url('../images/landing_1.png') no-repeat;
            // width: 100px;
            padding-left: 10px;
            width: 300px;
        }
        &__contentDescription{
            width: 400px;
        }
        &__item{
            border: .1em solid var(--lightGray); 
            background: white;
            border-radius: .2em;
            padding: 1em 1em 1em 1em;
            box-shadow: 6px 6px 10px 1px var(--lightGray);
            width: 300px;
        }
        &__paragraph{
            color: var(--darkBlue);
            font-weight: 320;
            margin-bottom: 10px;
        }
        &__gridImg{
            display: grid;
            // grid-template-columns: 15% 85%;
        }
        &__wrapper{
            padding: 0 4em;
            align-items: left ; 
        }
    }
    @media screen and (min-width: 1024px){
        padding-top: 5px;
        text-align: left;
        background: url('../images/do_ui_kit_download_cta_floating_devices-2x.png') left  20px top 80px no-repeat;
        background-size: 550px;
        &__content{
            // border: 1px solid red;
            margin-left: 10em;
            display: grid;
            align-items: center ;
            grid-template-areas: 
                    "image description" 
                    "image     contentDescription";
            grid-template-columns: 1fr 1fr;
            min-height: 400px;
            max-width: 1250px;
        }
        &__gridImg{
            display: grid;
            grid-template-columns: 15% 85%;
        }
    }
    @media screen and (min-width: 1275px){
        padding-top: 5px;
        text-align: left;
        background: url('../images/do_ui_kit_download_cta_floating_devices-2x.png') left  220px top 80px no-repeat;
        background-size: 550px;
        &__content{
            // border: 1px solid red;
            margin-left: 10em;
            display: grid;
            align-items: center ;
            grid-template-areas: 
                    "image description" 
                    "image     contentDescription";
            grid-template-columns: 1fr 1fr;
            min-height: 400px;
            max-width: 1250px;
        }
        &__gridImg{
            display: grid;
            grid-template-columns: 15% 85%;
        }
    }
}
.imgCircle{
    width: 2.5em;
    height: 2.5em;
    background-color: black;
    border-radius: 50em;
    margin-bottom: .9em;
    align-items: center;
}
