.testimonials{
    padding-top: 5em;
    align-items: center;
    text-align: center;
    &__imgCircle{
        width: 3.7em;
        height: 3.7em;
        // background-color: black;
        border-radius: 50em;
        margin-bottom: .9em;
        align-items: center;
        box-shadow: 1px 7px 8px #e6e6e6;
    }
    &__title{
        text-align: center;
        color: var(--darkBlue);
    }
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: .4em;
        width: .4em;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
        background-color: #00d2b5;
    }
    
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
}
