.touch{
    background: var(--lightGray);
    padding-top: 2em;
    &__title{
        text-align: center;
        color: var(--darkBlue);
    }
    &__grid{
        display: grid;
        grid-row-gap: 2em;
    }
    &__item{
    //    border: .1em solid green; 
       background: white;
       border-radius: .3em;
       padding: 1em 1em 1em 1em;
       margin-bottom: 5em;
    }
    &__button {
        align-items: center;
        border: 1px ;
        padding: .8em 1.8em;
        font-size: 1.1em;
        border-radius: 2em;
        color: #ffffff;
        background-color: #00d2b5;
        margin-top: .5em;
        box-shadow: 1px 3px 5px 1px #ccf5ee;
    }
    &__input {
        width: 100%;
        height: 2.2em;
        border: .5px solid #e2e5ea;
        margin-bottom: 1em;
    }
    &__textarea{
        width: 100%;
        height: 10em;
        border: 1px solid #e2e5ea;
        font-size: 1.1em;
        color: var(--darkBlue);
    }
    &__betweenTextArea{
        text-align: center;
    }
}